
/*=============================================================
    Authour URI: www.binarytheme.com
    License: Commons Attribution 3.0

    http://creativecommons.org/licenses/by/3.0/

    100% To use For Personal And Commercial Use.
    IN EXCHANGE JUST GIVE US CREDITS AND TELL YOUR FRIENDS ABOUT US
   
    ========================================================  */





/*=======================================
    GENERAL STYLES
==================================================*/
body {
          font-family:'Open Sans', sans-serif;
    font-size:14px;
}
.parallax {
  /* The image used */
  background-image: url("backimage.jpg");

  /* Set a specific height */
  min-height: 300px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.text-center {
    text-align:center;
}


h1, h2, h3, h4, h5, h6 {
    font-family:'Open Sans', sans-serif;
}
.alg-right-pad {
    float:right;
    padding-right:20px;
}
a:hover {
    text-decoration:none;
}

/*=======================================
  NAVBAR ADJUSTMENTS
==================================================*/
.navbar-brand {
font-size: 25px;
padding: 15px 80px 15px 60px;
}
.navbar-default .navbar-brand {
color: #000000;
}
.navbar-default {
background-color: #000000;
border-color: #000000;
}
.navbar {
 border-radius: 0px; 
}
.navbar-default .navbar-nav > li > a {
color: #FFF;
}
.navbar-default .navbar-nav > li > a:hover {
color: #FFF;
}

.navbar-default .navbar-brand {
color: #FFFFFF;
}
.navbar-default .navbar-brand:hover {
color: #FFFFFF;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
color: #050505;
background-color: #FFFFFF;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
color: #000;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
color: #000;
}
.right
{
  float: right;
}
.button {
  display: inline-block;
  border-radius: 2px;
  background-color: #2B80B3;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 15px;
  padding: 5px;
  width: 100px;
  
  transition: all 0.5s;
  cursor: pointer;
  margin: 2px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
.homecolumn {
  float: left;
  width: 50%;
  padding: 30px;
  height: 500px;
  text-align: center; /* Should be removed. Only for demonstration */
}
.innerBox1{
     display: inline-block;
    background-image: url("blockchain7.gif") ;
    background-size: 100% 100%;
    padding-left : 20px;   
    height: 400px; 
    width: 90%;
  }
  .innerBox2{
     display: inline-block;
    background-image: url("blockchain_2.gif") ;
    background-size: 100% 100%;
    padding-left : 20px;   
    height: 400px; 
    width: 90%;
  }
/* Clear floats after the columns */
.homerow:after {
  content: "";
  display: table;
  clear: both;
}
.footer
{
  height : 100px;
  text-align: center;
}
@media (max-width: 600px) {
  .column {
    width: 100%;
  }
  